<!DOCTYPE html>
<html>
<head>
     <title>Mijn CV</title>
     <link rel="stylesheet" href="style.css">
</head>
<body>
     <h1>Basma Sayed</h1>
     <h5>Potvistraat 73 <br>
          1035HJ Amsterdam, Noord-Holland, Nederland</h5>
     <h5>0624977547</h5>
     <h5>basmasayed_@outlook.com</h5>
     <h5>13/06/2002</h5>
     <h5>Website: N.V.T</h5><br>

     <h2>Doel</h2>
     <p class="Doel">
          Met een ambitieuze persoonlijkheid en nog ambitieuzere doelen ben ik altijd op zoek naar een uitdaging die mij helpt in het aanscherpen van mijn vaardigheden. <br> Ik ben van nieuwsgierige en liergierige aard, mijn interessegebied kent geen grenzen. <br> Een bijbaan als naast mijn huidige opleiding in het ICT is waar ik momenteel de focus op leg; het begin van mijn professionele carriere, de springplank richting mijn droom baan.</p>

          <h2 class="ervaring">ERVARING</h2>
          <p>2016-2017 <br>
             Stagiaire • Basisschool Mgr.Bekkerschool • Amsterdam, Noord-Holland <br>
             <br>
             2020-2022 <br>
             Kapper Stagiaire • L'Equipage • Amsterdam-West, Noord-Holland <br>
             <br>
             Augustus 2022- Oktober 2022 <br>
             Kassa/Winkel Medewerker • Dirk • Oostzaan, Noord-Holland </p>

             <h2 class="Opleiding">Opleiding</h2>
             <p>2023-heden <br>
               MBO College Zuidoost • Amsterdam, Noord-Holland <br>
               Software Developer • Niveau 4 <br>
               <br>
               2021-2022 <br>
               MBO College RAI • Amsterdam, Noord-Holland <br>
               Kapper • Niveau 2 <br>
               <br>
               2020-2021 <br>
               MBO College RAI • Amsterdam, Noord-Holland <br>
               Kapper • Niveau 1</p>

               <h2 class="Leiderschap">Leiderschap</h2>
               <p>2020-2022 <br>
               MBO College RAI, <br>
               Studentenraad • Klassen tegenwoordige. <br>
               <br>
               2023-heden <br>
               MBO College Zuidoost, <br>
               Klassen tegenwoordige. </p>

               <h2 class="talents">Vaardigheden</h2>
               <p>
                    Samenwerken • plannen • luisteren • klantgerichtheid • mondelinge communicatie •
                     creatief • doorzetter • ambitieus • liergierig • eerlijk • 
                     loyaal • geduldig.
               </p>
    
</body>
</html>